Improving renegotiation flow

PR #164 allowed to fix server-initiated renegotiations that [are used sometimes](http://httpd.apache.org/docs/2.4/mod/mod_ssl.html#sslverifyclient).

However, as a consequence, the implementation does not comply with this sentence of RFC 5246 § 7.4.1.1. Hello Request:
> This message will be ignored by the client if the client is
> currently negotiating a session.

We should consider extending the handshake state to discriminate between finished and on-going handshake cases.
