Extension "signature_algorithms" and the selection of server certificate

I think this is the last missing requirement about "signature_algorithms": in RFC 5246 § 7.4.2 the server certificate chain is supposed to have only signatures allowed by the client:

> If the client provided a "signature_algorithms" extension, then all
> certificates provided by the server MUST be signed by a
> hash/signature algorithm pair that appears in that extension.

So we should filter credentials based on the extension when present, and that would in turn impact possible ciphers.

  @lpeterse @cachenbach Do you have a use case for this you can confirm and explain?

Draft TLS 1.3 also asks for this behaviour in § 4.4.2.2 / Server Certificate Selection:
> If the server cannot produce a certificate chain that is signed only via the indicated supported algorithms, then it SHOULD continue the handshake by sending the client a certificate chain of its choice that may include algorithms that are not known to be supported by the client.

When considering what can mean this fallback mechanism I see potential for bugs or complexity, especially if applied to TLS 1.2 too.

Implemented in #236 for TLS 1.2, with some complexity and I hope as little impact as possible, and following TLS 1.3 recommandations.

Limited to signature of end-entity certificate when not self-signed.
Handshake continues as before if filtering would produce no possible cipher or less secure key exchange.